.selection-fields {
  padding: var(--space-unit) calc(var(--space-unit) + calc(var(--space-unit) * .5));
  border: 1px solid var(--gray);
  background: #e6e6e6;
  border-radius: 9999px;
  font-family: 'DINRegular', sans-serif;
  font-size: 16px;
}
