:root {
  /* Color Scheme */
  --primary-color: #ff6303;
  --white: #fff;
  --gray: #f5f5f5;
  --gray2: #fefefe;
  --black1: #222;
  --black2: #999;

  /* Typography */
  --font-primary: 'DINRegular', sans-serif;
  --font-bold: 'DINBold', sans-serif;
  --base-font-size: 14px;

  /* Spacing */
  --space-unit: 8px;
  --space-sm: calc(var(--space-unit) * 2);
  --space-md: calc(var(--space-unit) * 3);
}