.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    direction: rtl;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-4to3 {
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
}

.container-analytics {
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-gap: var(--space-md);
    margin: calc(var(--space-md) * 1.5) var(--space-unit);
}

.control-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--space-unit);
    flex-wrap: wrap;
}

.questions-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-unit);
}